@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 20px;
  top: 25px;
}


.bm-burger-bars {
  background: #373a47;
}


.bm-burger-bars-hover {
  background: #93c5fd;
}


.bm-cross-button {
  height: 24px;
  width: 24px;
}


.bm-cross {
  background: black;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0; 
  z-index: 2;
}


.bm-menu {
  background: #dedede;
  padding: 0.5em 1em 0;
  font-size: 1.15em;
  width: 100%;
  height: 100%; 
}


.bm-item-list {
  color: black;
  padding: 0.8em;
}


.bm-item {
  display: inline-block;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.3); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; 
  z-index: 1; 
}
